@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');

ul {
        list-style-type: none;
        margin: 0px;
        overflow: hidden;
        background-color: #f3f3f3;
        border: 1px solid black;
        text-align: center;
}

li {
        border: 1px solid black;
        font-family: 'Heebo', sans-serif;
}

li, a {
        display: inline-block;
        text-align: center;
        color: #777;
        padding: 4px 16px;
        text-decoration: none;
}

html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: #9fff9e;
}

h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
        text-align: center;
}

li:hover {
        background-color: #ededed;
}

li a.active {
          font-weight: bold;
          color: black;
}

.margin {
        margin: 0;
        padding: 0;
}

.center {
        text-align: center;
}

.pic {
        border: 1px solid black;
        height: 45%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
}

.picleft {
        float: left;
        margin: 15px;
}

.texthome {
        font-size: 20px;
}

.pictext {
        font-size: 20px;
}

#margindiv {
        margin: 0;
        padding: 0;
}
