ul {
        list-style-type: none;
        margin: 8px;
        padding: 7px;
        overflow: hidden;
}

li {
        float: left;  
}

li, a {
        display: block;
        text-align: center;
        padding: 4px 16px;
        text-decoration: none;
}

li a:hover {
        font-weight: bold;
}

li a.active {
        font-weight: bold;
}

#center {
        text-align: center;       
}

#greendiv {
         color: #9fff9e;
}
